@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Montserrat:wght@400;500;700&display=swap');
@import "tailwindcss";



::-webkit-scrollbar {
  display: none;
}

:root {
  --blue: #2a4b9b;
  --mauve: #692b85;
  --mauve-opacity: rgba(105, 43, 133, 0.2);
  --green: #098136;
  --orange: #f1a80f;
  --pink: #da4d66;
  --red: #b23b53;
  --light-white: #f1f1f1;
}

h1 {
  font-size: 2.5rem;
  font-family: "Marcellus";
  letter-spacing: 0.72px;
  color: var(--blue);
  line-height: 155.55%;
  text-transform: uppercase;
  font-weight: bold;
}

h2 {
  font-size: 2.12rem;
  font-family: "Marcellus";
  letter-spacing: 0.72px;
  color: var(--mauve);
  line-height: 155.55%;
  text-transform: uppercase;
}

h3, label {
  font-size: 1.75rem;
  font-family: "Marcellus";
  color: var(--blue);
  text-transform: uppercase;
}


p {
  font-size: 1.125rem;
  font-family: "Montserrat";
}

body {
  background-color: var(--light-white);
}